/* css的样式文件 */

#p1{
    color: red;
    background-color: #71BD48
}

#div1{
    color: deepskyblue;
    background-color: #9c9a9c
}

#p2{
    color: greenyellow;
    background-color: #795da3;
}

#div2{
    color: black;
}